<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>見える化</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>見える化</h1>

    <div class="container" style="padding:20px 0">
      <form class="form-inline" action="go" method="post">
        <div class="form-group">
          <label for="omise">お店コード</label>
          <input type="text" class="form-control" size="5" id="omise" name="omise">
        </div>
        <div class="form-group">
          <input type="submit" value="実行" class="btn btn-primary">
        </div>
        <div class="form-group">
          <label for="omisename"><%= @omisename %></label>
        </div>
      </form>
    </div>

    <div class="container" style="padding:20px 0">
      <ul class="nav nav-tabs">
        <% @imtok.each do |imtok| %>
          <li data-id="<%= imtok.syain_code %>"><a href="#<%= imtok.syain_code %>" data-toggle="tab"><%= imtok.syain_name %>  < <%= imtok.yakusyoku %> ></a></li>
        <% end %>
      </ul>

      <% @imtok.each do |imtok| %>
        <input type="hidden" data-name-id="<%= imtok.syain_code %>" value="<%= imtok.syain_name %>">
      <% end %>

      <div class="tab-content" style="padding:20px">
        <% @imtok.each do |imtok| %>
        <div class="tab-pane" id="<%= imtok.syain_code %>">
        <% end %>

          <div class="container">
            <table class="table">
              <thead>
                <tr>
                  <th>社員番号</th>
                  <th>氏名</th>
                  <th>入社年月日</th>
                  <th>職種</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="b_syain_cd"></td>
                  <td id="b_syain_name"></td>
                  <td id="b_nymd"></td>
                  <td id="b_lank"></td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="container">
          <table class=table>
            <thead>
              <tr>
                <th>No.</th>
                <th>内容</th>
                <th>評価</th>
              </tr>
            </thead>
            <tbody>
              <td>1</td>
              <td>ちゃんとしていますか?</td>
              <td>1</td>
            </tbody>
          </tabld>
        </div>

      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script>
      $(function () {
        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
          var href = $(e.target).attr('href').slice(1);
          var name = $(':hidden[data-name-id=' + href + ']').val();
          $('#b_syain_cd').text(href);
          $('#b_syain_name').text(name);
          //alert(href);
          //$('.tab-pane').attr('id','href')
        });
      });

    </script>　

  </body>
</html>
